.gradient-custom {

  background: linear-gradient(to right, rgb(65, 15, 118), rgba(37, 117, 252, 1))

}



.btn-primary {
  width: 100%;
}

.register-link {
  text-align: center;
}

.card {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 50px;
}

.form-label {
  font-weight: bold;
}


.container {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 100px;
}

.chatbox {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  height: 300px;
  overflow-y: scroll;
}

.message {
  margin-bottom: 10px;
}

.input-group {
  margin-top: 20px;
}